<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="NeoDB" />

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>

<body>
  <div class="default-layout">
    <div class="left">
      <div class="up">
        <div class="title"><a style="text-decoration: none; color:black;" href="/">NeoDB</a></div>
        <div class="sub-title">Cost Efficient & High Performance Database Platform</div>
      </div>
      <div class="down">
        <div>
          <div><a href="/">Home</a></div>
          <div><a href="/paper.html">Paper Reading</a></div>
          <div><a href="/blog.html">Blog Posts</a></div>
          <div><a href="/contact.html">Contact</a></div>
        </div>
      </div>
    </div>
    <div class="right">
      {{ content }}
    </div>
  </div>
</body>

</html>